section {
	height: calc(100vh - 80px);
}

section h1 {
	font-size: 2rem;
	padding: 10px;
}

section .tab {
	padding-right: 10px;
	color: black;
}

section .function {
	display: flex;
	padding: 10px;
	justify-content: space-between;
}


section table {
	width: 100%;
	align-items: center;
	color: black;
}

section thead {
	align-content: center;
	text-align: center;
}

section thead th {
	padding: 20px;
	font-weight: bold;
}

section tbody td {
	text-align: center;
	padding: 10px;
}

section .insertModal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

section .insert-modal {
	position: absolute;
	top: 50%;
	margin-right: 0px;
	width: 400px;
	height: 300px;
	padding: 30px;
	text-align: center;
	background-color: #E9F8F9;
	color: #181823; 
	border-radius: 10px;
	transform: translateY(-50%);
}

section .insert-modal p {
	padding:5px;
}
