:root {
  --side-width: 250px;
  --header-height: 60px;
}

.side {
  position: fixed;
  background-color: navy;
  height: 100%;
  width: var(--side-width);
  color: white;
  overflow-y: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.side h1 {
  font-size: 2rem;
}
.main {
  padding-left: var(--side-width);
  background-color: greenyellow;
}
.main header {
  position: fixed;
  background-color: aqua;
  height: var(--header-height);
  width: 100%;
}

.main section {
  padding-top: var(--header-height);
}
