h1 {
  color: green;
}

h2 {
  color: green;
}

#test1 h1 {
  display: inline;
  color: red;
  background-color: pink;
  border: 1px solid;
  border-color: black;
}
#test1 h2 {
  color: orange;
}
footer h2 {
  color: navy;
}
